* {
  font-family: 'Roboto', sans-serif;
  color: #012546;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fffdf9;
}

h1 {
  padding: 12px;
}

h2 {
  padding: 12px;
}

p {
  padding: 14px;
}

.full-width {
  width: 100%;
}

.flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: #236daf;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.header>.name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  width: 230px;
  flex-grow: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  flex-grow: 2;
}

.menu-item {
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: 1px solid;
  border-bottom-color: #c89800;
}

.menu-item:hover {
  background-color: #074882;
}

.menu-item.selected {
  border-bottom-color: #ffde77;
}

.menu-item>a {
  text-decoration: none;
  color: #ffa177;
}

.header>.site-dropdown-container {
  display: flex;
  flex-grow: 0;
  width: 230px;
  justify-content: flex-end;
}

.header>.site-dropdown-container>.site-dropdown {
  padding-right: 10px;
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: #e2e5e7;
  text-align: center;
  font-size: 80%;
  flex-shrink: 0;
}

.banner-page {
  justify-content: flex-start;
  height: 100%;
  margin: 5%;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 20px;
  box-shadow: 3px 3px 26px 0px rgba(0,0,0,0.5);
  background-color: #236daf;
  border-radius: 5px;
  display: flex;
}

@media (max-width: 600px) {

  .banner-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.profile-picture {
  width: 33%;
  flex-grow: 0;
  padding: 15px;
  overflow: hidden;
  text-align: center;
}

.profile-picture>img {
  border-radius: 100%;
}

@media (max-width: 600px) {

  .profile-picture {
    width: 75%;
  }

}

.profile-content {
  padding: 20px;
  flex-grow: 3;
}

.detail-section {
  display: flex;
}

@media (max-width: 350px) {

  .detail-section {
    flex-direction: column;
  }

}

.detail-title {
  font-weight: bold;
  padding: 5px;
  flex-grow: 1;
  flex-basis: 30%;
}

.detail-value {
  padding: 5px;
  flex-grow: 3;
  flex-basis: 70%;
  color: #ffa177;
}

.detail-value>a {
  color: #c89800;
}

.detail-value>a:hover {
  color: #ffca23;
}

.cooshy-quote {
  margin: 7%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 120%;
  color: #ffde77;
}

@media (max-width: 350px) {

  .cooshy-quote {
    font-size: 100%;
  }

}

.banner-nav-sections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7%;
  margin-top: 3%;
}

.banner-nav-element {
  margin: 3%;
  padding: 10px;
  width: 200px;
  background-color: #ffde77;
}